*.tar.gz
*.tar.xz
*.img.gz
*.zip
args-uncompressed.txt
bootcode.bin
boot-uncompressed.txt
compiler
first32k.bin
imagetool-uncompressed.py
kernel.img
modules
rpi-image.img
start.elf
cmdline.txt
qemu-arm
